@charset "UTF-8";
#contents{
	min-width : 1080px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"][disabled]{
    background:#FFFFFF;
}

#pageContainer{
	max-width : 180px;
}

#material_list{
	min-height : 57px;
}