@charset "UTF-8";
#contents{
	min-width : 1580px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="date"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#firstRow{
	max-width : 500px; 
}

#secondRow{
	max-width : 700px; 
}

#thirdRow{
	max-width : 800px; 
}
#fourthRow{
	min-width : 300px;
}
#plusListMsg{
	vertical-align : middle;
}

#sidebar{
	max-width : 150px;
	width : 16%;
	float : left;
}
.registWindow{
	max-width : 930px;
	width : 84%;
	float : left;
}
.companyModifyWindow{
	max-width : 1300px;
	width : 84%;
	float : left;
}
#serachCompany{
	min-width : 100px
	
}
.changeName.companyCd{
	min-width : 150px
}
.changeName.companyName{
	min-width : 200px
}
.changeName.companyTel{
	min-width : 180px
}
.changeName.companyAddress{
	min-width : 380px
}
textarea{
	resize:none;
}