<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스 -->
<mapper namespace="material">
	<cache />
	
	<sql id="columns">
		mat_no,mat_name,weight_unit,mat_status,del_flg,regist_date,regist_user,update_date,update_user,update_cnt
	</sql>
	
	<!-- 재료 분류 목록 -->
	<select id="getMaterialStatus" resultType="java.lang.String" parameterType="java.lang.String">
		select 
			distinct m.mat_status 
		from 
			material m 
			where m.del_flg = '0'
	</select>
	
	<!-- 재료 신규 등록 -->
	<insert id="registMaterialData" parameterType="Material">
		insert into material(<include refid="columns"></include>)
		values(#{matNo,jdbcType=VARCHAR},#{matName,jdbcType=VARCHAR},#{weightUnit,jdbcType=VARCHAR},#{matStatus,jdbcType=VARCHAR},'0',now(),'SYSTEM',now(),'SYSTEM',0)
	</insert>
	
	<!-- 재료 분류 목록 -->
	<select id="isMatName" resultType="java.lang.Integer" parameterType="java.lang.String">
		select 
			0
		from 
			material m 
			where m.mat_name = #{matName,jdbcType=VARCHAR}
	</select>
	
	<!-- 재료 전체 리스트 개수 -->
	<select id="getListCount" resultType="java.lang.Integer">
		select 
			count(*)
		from 
			material m 
			where m.del_flg = '0'
	</select>
	
	<!-- 재료 전체 리스트 호출
		ResultMap -> materialListMap
	 -->
	<select id="getAllList" resultMap="materialListMap" parameterType="com.project.emp.other.AutoPaging">
		select 
			<include refid="columns"></include> 
		from
			material m 
			where m.del_flg = '0'
			limit #{limitA,jdbcType=INTEGER}<if test="limitA!=limitB">, #{limitB,jdbcType=INTEGER}</if>
	</select>
	
	<!-- 
		materialListMap
		사용 쿼리
		getAllList
	 -->
	<resultMap type="Material" id="materialListMap">
		<id column="mat_no" jdbcType="VARCHAR" property="matNo"/>
		<result column="mat_name" jdbcType="VARCHAR" property="matName"/>
		<result column="weight_unit" jdbcType="VARCHAR" property="weightUnit"/>
		<result column="mat_status" jdbcType="VARCHAR" property="matStatus"/>
		<result column="regist_date" jdbcType="TIMESTAMP" property="registDate"/>
		<result column="regist_user" jdbcType="VARCHAR" property="registUser"/>
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
		<result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
	</resultMap>
	
</mapper>